.archive {
  font-family: "PTSansCaptionRegular";
  margin-top: 8%;
  color: #1c5281;
  font-size: 14px;
}
.archive .cont-for-year {
  padding-top: 20px;
}
.archive h1 {
  font-family: "PTSerifBold";
  color: black;
  font-size: 36px;
  color: #33332e;
  padding-left: 20px;
}
.archive .year .year-span {
  padding-left: 20px;
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  background-image: url(../img/dowwn-arrow.png);
  background-repeat: no-repeat;
  background-position: 70px;
  cursor: pointer;
}
.archive .year .month-hidden {
  height: 0;
  overflow: hidden;
}
.archive .year .month-hidden .month {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  background-image: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  background-position: 13px 10px;
  cursor: pointer;
}
.archive .year .month-hidden .month a {
  text-decoration: none;
  color: #1c5281;
}
.archive .year .month-hidden .month:hover {
  background-color: #fde127;
}
.archive .year .active-year-span + .month-hidden {
  height: auto;
}
.archive .year .active-year-span {
  background-image: url(../img/arrow-up.png);
  background-repeat: no-repeat;
  background-position: 70px;
  background-color: #efeed5;
}
