@font-face {
  font-family: "PTSerifRegular";
  src: url("../fonts/PTSerifRegular/PTSerifRegular.eot");
  src: url("../fonts/PTSerifRegular/PTSerifRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifRegular/PTSerifRegular.woff") format("woff"), url("../fonts/PTSerifRegular/PTSerifRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSerifBoldItalic"; */
@font-face {
  font-family: "PTSerifBoldItalic";
  src: url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot");
  src: url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.woff") format("woff"), url("../fonts/PTSerifBoldItalic/PTSerifBoldItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSerifItalic"; */
@font-face {
  font-family: "PTSerifItalic";
  src: url("../fonts/PTSerifItalic/PTSerifItalic.eot");
  src: url("../fonts/PTSerifItalic/PTSerifItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifItalic/PTSerifItalic.woff") format("woff"), url("../fonts/PTSerifItalic/PTSerifItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSerifBold"; */
@font-face {
  font-family: "PTSerifBold";
  src: url("../fonts/PTSerifBold/PTSerifBold.eot");
  src: url("../fonts/PTSerifBold/PTSerifBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSerifBold/PTSerifBold.woff") format("woff"), url("../fonts/PTSerifBold/PTSerifBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansCaptionRegular"; */
@font-face {
  font-family: "PTSansCaptionRegular";
  src: url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot");
  src: url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.woff") format("woff"), url("../fonts/PTSansCaptionRegular/PTSansCaptionRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansCaptionBold"; */
@font-face {
  font-family: "PTSansCaptionBold";
  src: url("../fonts/PTSansCaptionBold/PTSansCaptionBold.eot");
  src: url("../fonts/PTSansCaptionBold/PTSansCaptionBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansCaptionBold/PTSansCaptionBold.woff") format("woff"), url("../fonts/PTSansCaptionBold/PTSansCaptionBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansRegular";
  src: url("../fonts/PTSansRegular/PTSansRegular.eot");
  src: url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"), url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
/* font-family: "PTSansRegular"; */
@font-face {
  font-family: "PTSansBold";
  src: url("../fonts/PTSansBold/PTSansBold.eot");
  src: url("../fonts/PTSansBold/PTSansBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansBold/PTSansBold.woff") format("woff"), url("../fonts/PTSansBold/PTSansBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
a:hover,
a:focus {
  text-decoration: none;
  color: inherit;
}
.projects-content {
  margin-left: 2%;
  margin-right: 2%;
}
.report-articte-last {
  padding-bottom: 100px;
}
.about-left .about-sub {
  padding-top: 100px;
}
.active-sub a{
  color: #90979a !important;

}
.about-left .about-sub h3 {
  font-family: "PTSerifBold";
  font-size: 21px;
}
.about-left .about-sub ul {
  padding-top: 28px;
}
.about-left .about-sub ul li {
  padding-bottom: 20px;
}
.about-left .about-sub ul li img {
  margin-left: 7px;
  vertical-align: sub;
}
.about-left .about-sub ul li a {
  font-size: 12px;
  color: #1c5281;
  font-family: "PTSansCaptionRegular";
  font-weight: 600;
}
.about-left .last-news {
  padding-top: 44px;
}
.about-left .last-news h2 span {
  font-family: "PTSerifBold";
  font-size: 22px;
  color: #1c5281;
}
.about-left .last-news h2 span a {
  color: #1c5281;
  text-decoration: none;
}
.about-left .last-news h2 span:first-child {
  color: #000;
}
.about-left .last-news .date {
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #33332e;
  padding-top: 26px;
  display: block;
}
.about-left .last-news .last-news-article {
  font-family: "PTSerifBold";
  font-size: 14px;
  color: #1c5281;
  display: block;
  padding-top: 14px;
  line-height: 20px;
}
.about-left .last-news .last-news-article a {
  color: #1c5281;
  text-decoration: none;
}
@media (max-width: 350px) {
  .about-right h1 {
    font-size: 45px;
  }
}
.navbar-fixed-top {
  display: none;
}
@media (max-width: 992px) {
  .cont-nav {
    padding: 0;
    margin: 0;
  }
  .full-size-nav {
    display: none !important;
  }
  .search {
    display: none;
  }
  .nav {
    background-color: #1c5281;
  }
  .nav .dropdown-menu li a {
    color: #1c5281;
  }
  .nav li a {
    color: #efeed5;
    font-size: 15px;
    font-family: "PTSansCaptionRegular";
  }
  .nav li a:hover {
    background-color: #1c5281;
    color: #efeed5;
  }
  .nav li a:active {
    background-color: #1c5281;
  }
  .nav li a:focus {
    background-color: #1c5281 !important;
  }
  .navbar-search .search-query {
    width: 100%;
    height: 30px;
  }
  .navbar-fixed-top {
    display: block;
  }
  .navbar-fixed-top .div-img {
    text-align: center;
  }
  .navbar-fixed-top .div-img a {
    box-shadow: none;
  }
  .navbar-fixed-top .div-img .navbar-btn {
    margin: 0;
  }
}
.about-right {
  padding-top: 80px;
}
.about-right .titles h1 {
  color: #33332e;
  font-size: 60px;
  font-family: "PTSerifBold";
  padding-top: 20px;
}
.about-right .titles h2 {
  font-family: "PTSerifRegular";
  color: #33332e;
  font-size: 36px;
  padding-top: 20px;
}
.about-right .titles h3 {
  font-family: "PTSerifBold";
  color: #33332e;
  font-size: 24px;
  padding-top: 20px;
}
.about-right .titles h4 {
  font-family: "PTSerifRegular";
  color: #33332e;
  font-size: 24px;
  padding-top: 20px;
}
.about-right .titles p {
  font-family: "PTSerifRegular";
  color: #33332e;
  font-size: 14px;
  padding-top: 20px;
}
.about-right .titles .list-of-project {
  font-family: "PTSansRegular";
  font-size: 14px;
  color: #33332e;
  padding-left: 13px;
  padding-top: 40px;
}
.about-right .titles .list-of-project li {
  padding-left: 10px;
  padding-bottom: 16px;
}
.about-right .titles .list-of-project .unordered-list ul {
  list-style-image: url(../img/Ellipse.png);
}
.about-right .titles .list-of-project .ordered-list ol {
  counter-reset: myCounter;
}
.about-right .titles .list-of-project .ordered-list li {
  list-style: none;
  line-height: 13px;
}
.about-right .titles .list-of-project .ordered-list li:before {
  counter-increment: myCounter;
  content: counter(myCounter);
  color: #1c5281;
  font-family: "PTSerifBold";
  display: inline-block;
  font-size: 14px;
  padding-right: 20px;
  margin-left: -28px;
}
.about-right .titles .project-table-head {
  background-color: #efeed5;
}
.about-right .titles .project-table-head span {
  color: #33332e;
  font-size: 16px;
  font-family: "PTSansRegular";
  padding-top: 18px;
  display: block;
  padding-bottom: 20px;
}
.about-right .titles .project-table-row:hover + .project-table-row {
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.about-right .titles .project-table-row {
  border-top: 1px solid #9a9a98;
}
.about-right .titles .project-table-row:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.about-right .titles .project-table-row:last-child {
  border-bottom: 1px solid #9a9a98;
}
.about-right .titles .project-table-row:hover {
  box-shadow: 0px 4px 22px -10px #000000;
  background-color: #efeed5;
  border-top: 1px solid rgba(0, 0, 0, 0);
}
.about-right .titles .project-table-row span {
  font-family: "PTSansRegular";
  font-size: 16px;
  color: #33332e;
  padding-top: 18px;
  padding-bottom: 18px;
  display: block;
}
.about-right .titles .project-table-row .table-project-icon {
  padding-top: 8px;
  padding-bottom: 8px;
}
.about-right .titles .project-table-row .project-table-left .coruption span {
  padding-left: 35px;
}
.about-right .titles .project-table-row .project-table-left .coruption-positive {
  background-image: url(../img/vujavleno.png);
  background-position: left;
  background-repeat: no-repeat;
}
.about-right .titles .project-table-row .project-table-left .coruption-negative {
  background-position: left;
  background-repeat: no-repeat;
  background-image: url(../img/ne-vujavleno.png);
}
.about-right .titles .project-table-row .project-table-left .conclusion-img {
  width: 60%;
  background-repeat: no-repeat;
  background-image: url(../img/conclusion.png);
  background-position: 50% 100%;
}
@media (max-width: 480px) {
  .about-right .titles h1 {
    font-size: 40px;
  }
  .about-right .titles h2 {
    font-size: 28px;
  }
}
@media (max-width: 720px) {
  .projects-head span {
    font-size: 10px;
  }
  .one-project .visible-information .project-grant span {
    font: 700 11px PTSerifBold;
  }
  .one-project .visible-information .project-donor span {
    font-size: 12px;
  }
  .one-project .visible-information .visible-period span {
    font-size: 11px;
  }
  .one-project .visible-information .name-of-project span {
    font-size: 11px;
  }
  .one-project .active-visible-information + .hidden-information .list-of-project {
    font-size: 10px;
  }
  .one-project .active-visible-information + .hidden-information .project-table .project-table-head span {
    font-size: 9px;
  }
  .one-project .active-visible-information + .hidden-information .project-table .project-table-row .project-table-left .coruption span {
    opacity: 0;
  }
  .one-project .active-visible-information + .hidden-information .project-table .project-table-row span {
    font-size: 11px;
  }
  .table-project-icon img {
    zoom: 0.6;
    max-width: none;
  }
  .projects-title h1 {
    font-size: 34px;
  }
}
@media (max-width: 480px) {
  .one-project .active-visible-information + .hidden-information .project-table .project-table-row .project-table-left .conclusion-img {
    width: 100%;
  }
  .orientation span {
    display: none !important;
  }
}
.text-two {
  padding-top: 50px;
}
.text-two .col-md-12 {
  padding: 0;
  margin-left: 8px;
  margin-right: 8px;
}
.text-two img {
  width: 100%;
}
.text-two a {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.text-two a:hover {
  background-color: rgba(23, 69, 108, 0.73);
  background-repeat: no-repeat;
  background-position: 50%;
}
.text-two .play:hover {
  background-image: url(../img/play.png);
}
.text-two .eye:hover {
  background-image: url(../img/watch.png);
}
.text-two .down:hover {
  background-image: url(../img/download.png);
}
.span-after-text-two span {
  padding-top: 20px;
  display: block;
  color: #1b5181;
  font-family: "PTSerifBold";
  font-size: 24px;
  position: relative;
  line-height: 24px;
}
.span-after-text-two span:hover{
  color: #7890a9;  
}
/*check-box*/
  .b-for-box-select{
    padding-top: 100px;
    padding-bottom: 50px;
  }
 label {

    display: block;
    position: relative;

   }
   input[type="checkbox"] + span {
    position: absolute;
    font-family: "PTSansCaptionRegular";
    font-size: 14px;
    color: #292a2c;
    font-weight: 600;
    padding-left: 25px;
   left: -1px; top: 1px;
    width: 100%;
    height: 100%;
    background: url(../img/no-checked.png) no-repeat;
    cursor: pointer;
   }
   input[type="checkbox"]:checked + span {
    background-position: 0 -26px; 
      background: url(../img/checked.png) no-repeat;
   }
    input[type="radio"] + span {
    position: absolute;
    font-family: "PTSansCaptionRegular";  
    font-weight: 600;
    padding-left: 25px;
    font-size: 14px;
    color: #292a2c;
    left: -1px; top: 1px;
    width: 100%;
    height: 100%;
    background: url(../img/radio-no-checked.png) no-repeat;
    cursor: pointer;

   }
   input[type="radio"]:checked + span {
    background-position: 0 -26px; 
      background: url(../img/radio-checked.png) no-repeat;
   }
  .search-pre{
    height: 60px;
    border: none;
    background-color: #efeed5;
    font-family: "PTSansCaptionRegular";
    padding-left: 21px;
    font-size: 14px;
    font-weight: 600;
    width: 100%;

  }
input::-webkit-input-placeholder {color:#292a2c;font-weight: 600;}
input::-moz-placeholder          {color:#292a2c;font-weight: 600;}/* Firefox 19+ */
input:-moz-placeholder           {color:#292a2c;font-weight: 600;}/* Firefox 18- */
input:-ms-input-placeholder      {color:#292a2c;font-weight: 600;}
  .search-cont{
    
  }
  .radio-buttons-cont{
    padding-top: 30px;
  }
  .chekbox-cont{
    padding: 0;
     padding-top: 20px;
  }
  #bootstrap-up-down-arrowSelectBoxIt{
    max-width: 100%;
    padding: 20px 10px;
    background-color: #efeed5 !important  ;
    font-family: "PTSansCaptionRegular";
    font-size: 14px;
    font-weight: 600;
  }
  #bootstrap-up-down-arrowSelectBoxItText{
    float: left;
    text-indent: 10px;
  }
  #bootstrap-up-down-arrowSelectBoxItArrowContainer{
    float: right;
    background-image: url(../img/arrow-down-search.png);
    height: 20px;
    width: 20px;
         -webkit-transition: background-image 0.2s ease-out     ;
     -moz-transition: background-image 0.2s ease-out ;
     -o-transition: background-image 0.2s ease-out ;
     transition: background-image 0.2s ease-out ;
    
  }
   #bootstrap-up-down-arrowSelectBoxItArrowContainer i{
    display:  none;
   }
   #bootstrap-up-down-arrowSelectBoxIt.open>#bootstrap-up-down-arrowSelectBoxItArrowContainer{
    background-image: url(../img/arrow-up-search.png);
     -webkit-transition: background-image 0.2s ease-out     ;
     -moz-transition: background-image 0.2s ease-out ;
     -o-transition: background-image 0.2s ease-out ;
     transition: background-image 0.2s ease-out ;
   }
  #bootstrap-up-down-arrowSelectBoxIt{

    background-color: #efeed5 !important;
  }
  .selectboxit-option:hover{
    background-color: #efeed5 !important;
  }
  .selectboxit-option-icon-container:hover{
    background-color: #efeed5 ;
  }
  .selectboxit-option-icon:hover{
background-color: #dcddc9 ;
  }
  .dropdown-menu{
    background-color: #efeed5 ;
    max-width: 100% !important;
  }
  .dropdown-menu li a{
    font-family: "PTSansBold";
    color: #1c5281;
    font-size: 14px;
  }
  .dropdown-menu li a:hover{
    color: inherit;
  }
.select-box-cont{
  padding: 0 0 20px 0;

}
#bootstrap-up-down-arrowSelectBoxItOptions{
    width: 100%;
    max-height: none !important;
    height: auto;
    box-shadow:none !important;
    padding-top: 0;
    padding-bottom: 0;

}
.selectboxit-option-anchor{
}
  /*check-box*/

ul .selectboxit-option  {
position:   relative;   
}
ul .selectboxit-option a{
  padding:  20px 20px;
  font-weight: 600;
  color:#292a2c;
  font-size:  14px;
  font-family: "PTSansCaptionRegular";    


}
ul .selectboxit-option a:hover{
  background-color:   #dcddc9 !important;
  color:   #292a2c;
}
ul .selectboxit-option.active a{
   background-color:   #dcddc9 !important;
    color:   #292a2c !important;   

}

ul .selectboxit-option.active a span{
     color:   #292a2c !important  ;
}
ul .selectboxit-option a span:hover{

  color:   #292a2c !important;
}
/*hex-arrow-right*/
.hex-arrow-right{
  position: relative;
  width: 75px; 
  height: 43.30px;
  background-color: #1c5281;
  margin: 21.65px 0;
}
.hex-arrow-right:before,
.hex-arrow-right:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;
}

.hex-arrow-right:before {
  bottom: 100%;
  border-bottom: 21.65px solid #1c5281;
}

.hex-arrow-right:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid #1c5281;
}
.b-for-box-buttons{
  padding-top: 40px;
}
.hex-arrow-right img{
    position: absolute;
    top: 17%;
    left: 30%;
    width: 40%;
    height: auto;
    -webkit-transition: all 0.35s ease; 
    -o-transition: all 0.35s ease; 
    transition: all 0.35s ease;
}
.hex-arrow-link .hex-arrow-right:hover{
  background-color: #1c5281;
  opacity: 0.7;

-webkit-transition: all 0.35s ease; 
-o-transition: all 0.35s ease; 
transition: all 0.35s ease;

}
.hex-arrow-link:hover .hex-arrow-right img{
  position: absolute;
  left: 38%;
  -webkit-transition: all 0.35s ease; 
  -o-transition: all 0.35s ease; 
  transition: all 0.35s ease;
}
/*hex-downloader*/
.hex-downloader{
  position: relative;
  width: 75px; 
  height: 43.30px;
  background-color: #1c5281;
  margin: 21.65px 0;
}
.hex-downloader:before,
.hex-downloader:after {
  content: "";
  position: absolute;
  width: 0;
  border-left: 37.5px solid transparent;
  border-right: 37.5px solid transparent;

}

.hex-downloader:before {
  bottom: 100%;
  border-bottom: 21.65px solid #1c5281;
}

.hex-downloader:after {
  top: 100%;
  width: 0;
  border-top: 21.65px solid #1c5281;
  

  
}
.b-for-box-buttons{
  padding-top: 25px;
  padding-bottom: 50px;
}
.hex-downloader img{
    position: absolute;
    top: 6%;
    left: 29%;
    width: 40%;
    height: auto;
    -webkit-transition: all 0.35s ease; 
    -o-transition: all 0.35s ease; 
    transition: all 0.35s ease;
}
.hex-arrow-link .hex-downloader:hover{
  background-color: #1c5281;
  opacity: 0.7;

-webkit-transition: all 0.35s ease; 
-o-transition: all 0.35s ease; 
transition: all 0.35s ease;

}
.hex-arrow-link:hover .hex-downloader img{
  position: absolute;
  top: 17%;
  -webkit-transition: all 0.35s ease; 
  -o-transition: all 0.35s ease; 
  transition: all 0.35s ease;
}
.after-for-img-cont{
  height: 100%;
}
.hex-downloader .after-for-img-cont:before{
    content: "";
    width: 100%;
    height: 5px;
}
.hex-downloader .after-for-img-cont:after{
    content: "";
    background-image: url(../img/downloader-hex-after.png);
    width: 100%;
    height: 5px;
    position: absolute;
    background-repeat: no-repeat;
    background-position: 25px 0px;
    bottom: 0;

}

/*template*/
.b-template{
  padding-top: 50px;
  padding-bottom: 50px;
}
.b-template-images img{
  width: 70%;
  height: auto;
}
.b-text-template h3{
  font-family: "PTSerifBold";
  color: #33332e;
  font-size: 24px;
  padding-top: 20px;
}